*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9f8f2;
}

h1,h2,h3,h4,h5,h6 {font-family: 'League Spartan', sans-serif;}

p {font-family: 'Montserrat', sans-serif;}

header {
  background-color: #042039;
}

/* General Layout Styles */

.header-container {
  margin: 0 auto;
  max-width: 1200px;
  /* height: fit-content; */
  display: flex;
}

.header-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 30px;
}



/* Header Styles */

.header-title {
  color: #d1eff9;
  font-size: 48px;
  letter-spacing: 1px;
  margin-top: 0;
}

.header-text {
  color: #d1eff9;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 0;
}

.add-review-btn {
  font-family: 'Montserrat', sans-serif;
  color: #13292a;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  background-color: #fbc84f;
  border: none;
  border-radius: 30px;
}

.add-review-btn:hover {
  background-color: #fbde4f;
}

.stars-wrap {
  display: flex;
  margin: 4px 0 30px;
}

.star {
  font-size: 2.4rem;
  margin: 0 4px;
  color: #fbc84f;
}

.star:hover {
  color: #fbde4f;
}

.header-img {
  width: 50%;
  background-image: url('./assets/man-at-computer-600x400.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  opacity: .5;
}

img {
  width: 100%;
}

/* Select, Filter, Sort */
.select-sort-container {
  margin: 0 auto;
  max-width: 1200px;
}

.select-title-wrap {
  padding: 50px;
}

.h3-select-title {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #13292a;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px dashed #aaaaaa;
  margin: 0 10px 0;
}

.drop-downs-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: #545454;
  text-align: center;
}

select {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 5px 10px;
  border-radius: 5px;
  width: 350px;
}

.btn-wrap {
  margin: 0 auto;
}

.submitBtn {
  margin: 20px 0 20px;
  color: #f9f8f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 10px 15px 10px;
  background-color: #13292a;
  border: none;
  border-radius: 5px;
}

.submitBtn:hover {
  background-color: #1f4345;
}

/* Results Display */
.list-card-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-list {
  background-color: #fff;
  color: #333;
  border: 3px solid #a6a6a6;
  border-radius: 20px;
  padding: 15px;
  margin: 20px 0;
  max-width: 350px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.white-fade {
  position: absolute;
  bottom: 0;
  right: 7px;
  width: 330px;
  height: 100px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,1));
  border-radius: 0 0 10px 10px;
}

.white-fade a {
  position: absolute;
  bottom: 10px;
  left: 110px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #3d7aea;
}

.white-fade a:hover {color: #0f5ae7;}

.product-desc {
  width: auto;
  height: 200px;
}

.card-list-header {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-thumbnail {
  width: 50%;
}

